*{
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

 }

 body{margin: -101;}
 
.twins{
text-align:center;
border-bottom: 1px solid#a5a5a5;
margin-bottom: 11px;
}
.main{
	  width: 390px;
    padding: 10px;
    background: #f5f6f5;
    border: 3px solid#e6e6e6;
}

input[type="text"],
input[type="password"]
   {
    width: 360px;
    padding: 10px 20px;
    margin-top: 5px;
    color: black;
}
  
input[type="submit"] {
  background-color :#8ebf41;
  font-size: 15px;
  color:white;
  border:none;
  cursor:pointer;
  width: 360px;
  padding: 10px 20px;
  margin-top: 20px;   
}
  
#footer{
  background:#efefef;
  width: 360px;
  padding: 10px 15px;
  margin-top: 10px;
  text-align: left;
  font-size:13px;
  color:black;
  display: flex;
  justify-content: space-between ;
}  

.check {
 padding: 0;
  margin:0;
  vertical-align: top;
  font-size:13px;
  
}
